/* Web */

@media only screen and (min-width: 641px) {

  * {
    margin: 0;
  }

  .ticket {
    padding: 40px;
    box-sizing: border-box;
    display: block;
    background-color: white;
    width: 100%;
    height: 900px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .garanta {
    position: static;
    text-align: center;
    height: 20%;
    margin-top: 8%;
    font-size: 70px;
    line-height: 90%;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }

  .containertickets {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    position: static;
    column-gap: 50px;
  }

  .ticket1 {
    padding: 3%;
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 30%;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 7px rgb(77, 77, 77);
  }

  .valor1 {
    display: flex;
    flex-direction: inline;
    padding: 30px;
    align-items: center;
  }

  .ticket1 h4 {
    padding-top: 110px;
    line-height: 95%;
  }

  .ticket1 h2 {
    padding-top: 10px;
  }



  .ticket2 {
    justify-content: center;
    align-items: center;
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 5px black;
    height: 470px;
    width: 30%;
    border-radius: 16px;
    background-color: rgb(247, 102, 35);
    box-shadow: 2px 2px 7px rgb(77, 77, 77);
    margin: 0 auto;
  }

  .valor2 {
    display: flex;
    flex-direction: inline;
    height: 60px;
    justify-content: center;
  }

  .ticket2 h2 {
    height: 30px;
  }

  .ticket2 p {
    padding-top: 10px;
    padding-left: 20px;
  }

  .ticket2 h4 {
    color: rgb(187, 187, 187);
    line-height: 90%;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
  }

  .qualidade1 {
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
  }

  .qualidade2 {
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
    color: rgb(58, 58, 58);
    text-shadow: 2px 2px 7px rgb(189, 52, 2);
  }

  .ticket3 {
    padding: 3%;
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 30%;
    border-radius: 16px;
    text-shadow: 2px 2px 5px black;
    background-color: rgb(118, 28, 160);
    box-shadow: 2px 2px 7px rgb(77, 77, 77);
  }

  .valor3 {
    display: flex;
    flex-direction: inline;
    padding-top: 10%;
    height: 20%;
    align-items: center;
    justify-content: center;
  }

  .valor3 p {
    padding-left: 20px;
  }

  .ticket3 h4 {
    padding-top: 110px;
    line-height: 95%;
  }

  .ticket3 h2 {
    width: 100%;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .lista {
    list-style-type: "✓ ";
    padding-left: 40px;
    top: 300px;
    height: 18px;
    top: 100px;
    font-size: 15px;
    font-weight: 100;
    line-height: 200%;
    color: gray;
    font-weight: lighter;
  }


  .ticket3 li {
    padding-top: 18px;
    line-height: 120%;
  }

  .lista span {
    padding-right: 20px;
  }


  .horizline {
    letter-spacing: -3.1px;
    color: gray;
    font-weight: lighter;
  }

  .horizline2 {
    box-sizing: border-box;
    letter-spacing: -3.1px;
    padding: 10px 0 40px 0 !important;
    align-self: center;
    height: 20px;
    font-weight: lighter;
    text-align: center;
    text-shadow: none;
    color: gray;
  }

  .horizlinecenter {
    box-sizing: border-box;
    color: rgb(156, 154, 154);
    align-self: center;
    padding: 30px 50px 30px 50px !important;
    line-height: 100%;
    font-weight: lighter;
    padding-right: 25px;
  }

}


/* Mobile */

@media only screen and (max-width: 640px) {

  * {
    margin: 0;
  }

  .ticket {
    padding: 40px;
    box-sizing: border-box;
    display: block;
    background-color: white;
    width: 100%;
    height: 1500px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .garanta {
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    line-height: 90% !important;
    color: rgb(0, 0, 0);
  }

  .containertickets {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    position: static;
    row-gap: 50px;
  }

  .ticket1 {
    padding: 3%;
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 60%;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 7px rgb(77, 77, 77);
  }

  .valor1 {
    display: flex;
    flex-direction: inline;
    padding: 30px;
    align-items: center;
  }

  .ticket1 h4 {
    padding-top: 110px;
    line-height: 95%;
  }

  .ticket1 h2 {
    padding-top: 10px;
  }



  .ticket2 {
    padding: 5%;
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 60%;
    border-radius: 16px;
    align-items: center;
    text-shadow: 2px 2px 5px black;
    background-color: rgb(247, 102, 35);
    box-shadow: 2px 2px 7px rgb(77, 77, 77);
  }

  .valor2 {
    display: flex;
    flex-direction: inline;
    height: 60px;
    justify-content: center;
  }

  .ticket2 h2 {
    height: 30px;
  }

  .ticket2 p {
    padding-top: 10px;
    padding-left: 20px;
  }

  .ticket2 h4 {
    color: rgb(187, 187, 187);
    line-height: 90%;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
  }

  .qualidade1 {
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
  }

  .qualidade2 {
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
    color: rgb(58, 58, 58);
    text-shadow: 2px 2px 7px rgb(189, 52, 2);
  }

  .ticket3 {
    padding: 2%;
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 60%;
    border-radius: 16px;
    align-items: center;
    text-shadow: 2px 2px 5px black;
    background-color: rgb(118, 28, 160);
    box-shadow: 2px 2px 7px rgb(77, 77, 77);
  }

  .valor3 {
    display: flex;
    flex-direction: inline;
    padding-top: 10%;
    height: 20%;
    align-items: center;
    justify-content: center;
  }

  .valor3 p {
    padding-left: 20px;
  }

  .ticket3 h4 {
    padding-top: 110px;
    line-height: 95%;
  }

  .ticket3 h2 {
    width: 100%;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .lista {
    list-style-type: "✓ ";
    padding-left: 40px;
    top: 300px;
    height: 18px;
    top: 100px;
    font-size: 15px;
    font-weight: 100;
    line-height: 200%;
    color: gray;
    font-weight: lighter;
  }


  .ticket3 li {
    padding-top: 18px;
    line-height: 120%;
  }

  .lista span {
    padding-right: 20px;
  }


  .horizline {
    letter-spacing: -3.1px;
    color: gray;
    font-weight: lighter;
  }

  .horizline2 {
    box-sizing: border-box;
    letter-spacing: -3.1px;
    padding: 0 2px 10px 0 !important;
    align-self: center;
    font-weight: lighter;
    text-align: center;
    text-shadow: none;
    color: gray;
  }

  .horizlinecenter {
    box-sizing: border-box;
    color: rgb(156, 154, 154);
    align-self: center;
    padding: 10px 50px !important;
    line-height: 100%;
    font-weight: lighter;
    padding-right: 25px;
  }

}